body{
    background-color: #DFCFE8;
}
.navbar{
    background-color: #160121;
    padding: 10px;
}

.navbar ul{
    list-style: none;
    display: flex;
    justify-content: center;
    margin: 0;
    padding: 0;
}

.navbar li{
    color: white;
    transition: background-color 1s ease-in-out;
    transition: 1s ease;
    cursor: pointer;
    margin: 0 20px;
    padding: 10px;
    border-radius: 4px;
}

.navbar a{
    text-decoration: none;
    color: white;
    font-size: 18px;
    font-weight: bold;
    margin: 10px auto;
    border-radius: 4px;
    padding: 4px;
}

.navbar a:hover{
    color: C20AB1;
    background-color: #362A34; 
}

.header{
    display: flex;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.profile-pic{
    width: 120px;
    height: 120px;
    border-radius: 50%;
    object-fit: cover;
    border: 5px solid #45063A;
    box-shadow: 0 4px 10px rgba(0,0,0,0.3);
}

h1{
    color: #45063A;
    font-style: italic;
}

h2{
    font-weight: bold;
    color: #45063A;
    font-size: 30px;
}
.biography{
    font-size: 30px;
}

.intro-paragraph{
    font-size: 30px;
}

.portfolio-pics{
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;   
}

.picture{
    width: 300px;
    height: 300px;
    object-fit: cover;
    border: 4px dotted #45063A;
    border-radius: 4px;
}
footer{
    background-color: #160121;
    padding: 50px;
}

.footer-text{
    color: white;
    font-size: 20px;
    font-family:'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}